@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Welcome to Programmer Fox Club!</h2>
    <br /><br />
    <p>Please provide a name, so you can assiciate it to your pet!</p>
    <p>Name</p>
    <form action="/PostLoginInfo" method="POST">
        <input name="name" type="text" />
        <button type="submit">GO</button>
    </form>
</body>
</html>
