

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li><a href="home/about">Information</a></li>
    </ul>
    <img src="~/images/greenfox.png" alt="GreenFoxPicture" />
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        <li>write html</li>
        <li>code in Java</li>
    </ul>
</body>
</html>